/*
Theme Name: Flow
Theme URI: http://flow.elated-themes.com/
Description: A Fresh Creative Blog Theme
Author: Elated Themes
Author URI: http://themeforest.net/user/elated-themes
Version: 1.3.1
License: GNU General Public License
License URI: licence/GPL.txt

CSS changes can be made in files in the /assets/css/ folder. This is a placeholder file required by WordPress, so do not delete it.

*/
@font-face {
    font-family: 'gotham';
    src: url('../flow/assets/css/gotham/gotham-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../flow/assets/css/gotham/gotham-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}