::selection {
  background-color: #00EFCA; }

.form-control:hover,
select:hover,
input[type=text]:hover,
input[type=search]:hover,
textarea:hover,
.post-password-form input[type=password]:hover,
.cart-collaterals .input-text:hover,
.create-account .input-text:hover,
.login .input-text:hover,
.form-control:active,
select:active,
input[type=text]:active,
input[type=search]:active,
textarea:active,
.post-password-form input[type=password]:active,
.cart-collaterals .input-text:active,
.create-account .input-text:active,
.login .input-text:active,
.form-control:focus,
select:focus,
input[type=text]:focus,
input[type=search]:focus,
textarea:focus,
.post-password-form input[type=password]:focus,
.cart-collaterals .input-text:focus,
.create-account .input-text:focus,
.login .input-text:focus {
  border-color: #00EFCA; }

select:hover, select:active, select:focus,
input[type=text]:hover,
input[type=text]:active,
input[type=text]:focus,
input[type=email]:hover,
input[type=email]:active,
input[type=email]:focus,
input[type=search]:hover,
input[type=search]:active,
input[type=search]:focus,
input[type=tel]:hover,
input[type=tel]:active,
input[type=tel]:focus,
textarea:hover,
textarea:active,
textarea:focus,
.post-password-form input[type=password]:hover,
.post-password-form input[type=password]:active,
.post-password-form input[type=password]:focus,
.cart-collaterals .input-text:hover,
.cart-collaterals .input-text:active,
.cart-collaterals .input-text:focus,
.create-account .input-text:hover,
.create-account .input-text:active,
.create-account .input-text:focus,
.login .input-text:hover,
.login .input-text:active,
.login .input-text:focus {
  border-color: #00EFCA; }

.btn,
input[type=submit],
button[type=submit] {
  background-color: rgba(0, 239, 202, 0.8); }

.btn:hover,
input[type=submit]:hover,
button[type=submit]:hover,
.btn:active,
input[type=submit]:active,
button[type=submit]:active {
  background: #00EFCA; }

.button.add_to_cart_button[data-product_id]:hover,
.woocommerce input.button[type=submit]:hover {
  border-color: #00EFCA;
  color: #00EFCA; }

a {
  color: #00EFCA; }

.widget .social-profiles a:hover {
  color: #00EFCA; }

.widget.widget_recent_entries ul li a .centred-article span span {
  color: #00EFCA; }

.widget ul li a:hover {
  color: #00EFCA; }

.widget .post_count {
  color: #00EFCA; }

.instagram-follow .instagram-carousel a:after {
  background: #00EFCA; }

.instagram-follow .follow-instagram-button {
  background: #00EFCA; }

.main-footer .footer-share ul li a {
  background: #00EFCA; }

.contact-container .contact-info ul li a {
  background: #00EFCA; }

.comment-form-theme textarea:hover,
.comments .comment-respond textarea:hover,
.comment-form-theme textarea:active,
.comments .comment-respond textarea:active,
.comment-form-theme textarea:focus,
.comments .comment-respond textarea:focus {
  border-color: #00EFCA; }

.comment-container ul.comments li .comment .right-section a.comment-reply-link:hover, .comment-container ul.comments li .pingback .right-section a.comment-reply-link:hover {
  border-color: #00EFCA;
  color: #00EFCA; }
  .comment-container ul.comments li .comment .right-section a.comment-reply-link:hover i, .comment-container ul.comments li .pingback .right-section a.comment-reply-link:hover i {
    color: #00EFCA; }

.comment-container ul.comments li .comment .right-section .comment-author a:hover, .comment-container ul.comments li .pingback .right-section .comment-author a:hover {
  color: #00EFCA; }

.articles-container article .left-article-side .bottom-side .read-more a {
  color: #00EFCA; }

.articles-container article .left-article-side .social-article-share li a:hover {
  color: #00EFCA; }

.share-widget a:hover {
  color: #00EFCA; }

.share-widget .like:hover i, .share-widget .like:hover a {
  color: #00EFCA; }

.post-content li:before {
  color: #00EFCA; }

@media screen and (max-width: 768px) {
  .articles-container article .left-article-side .bottom-side .read-more a {
    color: white;
    border-color: #00EFCA;
    background-color: #00EFCA; } }

.articles-container article .left-article-side a:hover {
  color: #00EFCA; }

.articles-container article .left-article-side .bottom-side .like i {
  color: #00EFCA; }

.articles-container article .featured i, .articles-container-masonry article .featured i,
.articles-container-interlaced article .featured i, .articles-container-grid article .featured i,
.post-content-wrapper .featured i {
  color: #00EFCA; }

.articles-container .sticky-post i, .articles-container-masonry .sticky-post i,
.articles-container-interlaced .sticky-post i, .articles-container-grid .sticky-post i,
.post-content-wrapper .sticky-post i {
  color: #00EFCA; }

.author-profile .contact-methods .social-icons li a:hover {
  color: #00EFCA; }

article .author-details a:hover {
  color: #00EFCA; }

article .author-name:hover {
  color: #00EFCA; }

.articles-container article header h2 a:hover,
.articles-container-masonry article header h2 a:hover,
.articles-container-interlaced article header h2 a:hover,
.articles-container-grid article header h2 a:hover {
  color: #00EFCA; }

.articles-container article .article-entries .read-more a,
.articles-container-masonry article .article-entries .read-more a,
.articles-container-interlaced article .article-entries .read-more a,
.articles-container-grid article .article-entries .read-more a {
  color: #00EFCA; }

.articles-container article footer .post-meta .featured:hover, .articles-container article footer .post-meta .comments:hover, .articles-container article footer .post-meta .like:hover, .articles-container article footer .post-meta .share:hover,
.articles-container-masonry article footer .post-meta .featured:hover,
.articles-container-masonry article footer .post-meta .comments:hover,
.articles-container-masonry article footer .post-meta .like:hover,
.articles-container-masonry article footer .post-meta .share:hover,
.articles-container-interlaced article footer .post-meta .featured:hover,
.articles-container-interlaced article footer .post-meta .comments:hover,
.articles-container-interlaced article footer .post-meta .like:hover,
.articles-container-interlaced article footer .post-meta .share:hover,
.articles-container-grid article footer .post-meta .featured:hover,
.articles-container-grid article footer .post-meta .comments:hover,
.articles-container-grid article footer .post-meta .like:hover,
.articles-container-grid article footer .post-meta .share:hover {
  color: #00EFCA; }

.footer-share .like a:hover, .footer-share .like > i:hover {
  color: #00EFCA; }

.footer-share .social-article-share li a:hover {
  color: #00EFCA; }

.tooltip.top .tooltip-arrow {
  border-top-color: #00EFCA; }

.tooltip .tooltip-inner {
  background-color: #00EFCA; }

article .like:hover > a, article .featured:hover > a, article .comments:hover > a, article .share:hover > a {
  color: #00EFCA; }

ul.share-dd li a:hover {
  color: #00EFCA; }

.posts-navigation .prev-post:hover .post-title, .posts-navigation .next-post:hover .post-title {
  color: #00EFCA; }

.single-article-featured-image .single-post-top-author-info figure figcaption a:hover {
  color: #00EFCA; }

.single-article-featured-image .contact-media ul li a {
  background: #00EFCA; }

.single-post .main-article .post-meta .comment-count-link:hover {
  color: #00EFCA; }

.drop-cap:first-letter {
  border-color: #00EFCA; }

blockquote:before, q:before {
  background-color: #00EFCA; }

.author-social-top ul li a {
  color: #00EFCA; }

.reading-mode:hover i {
  color: #00EFCA; }

.reading-mode-container .reading-options .reading-options-container .ff-options .font-box.active,
.reading-mode-container .reading-options .reading-options-container .ff-options .font-box:active,
.reading-mode-container .reading-options .reading-options-container .cs-options .cs-option.active,
.reading-mode-container .reading-options .reading-options-container .cs-options .cs-option:active {
  box-shadow: inset 0 -3px 0 #00EFCA;
  color: #00EFCA; }

.reading-position {
  background: #00EFCA; }

a.alimo_social_profile:hover {
  color: #00EFCA; }

.main-header .social-profiles ul li a:hover {
  color: #00EFCA; }

.main-header .main-search button {
  background: #00EFCA; }

.main-header .search-container.hovered .search-trigger-bg, .main-header .search-container:hover .search-trigger-bg {
  background: #00EFCA; }

.main-nav .header-menu .main-menu li a:before {
  background: #00EFCA; }

.main-nav .header-menu .main-menu li.current-menu-item > a {
  color: #00EFCA; }

.main-nav .header-menu .main-menu li:hover > a {
  color: #00EFCA; }

.main-nav .header-menu .main-menu li.current-menu-item > .toggle-submenu {
  color: #00EFCA; }

.main-nav .header-menu .main-menu li:hover > .toggle-submenu {
  color: #00EFCA; }

.posts-pagination .page-numbers.current,
.posts-pagination .page-numbers:focus,
.posts-pagination .page-numbers:active {
  border-color: #00EFCA;
  color: #00EFCA; }

.posts-pagination .page-numbers:hover {
  border-color: rgba(0, 239, 202, 0.3);
  color: #00EFCA; }

.posts-pagination .page-numbers.current:hover {
  border-color: #00EFCA; }

.glitch-fof {
  color: #00EFCA; }
  .glitch-fof:before {
    text-shadow: 2px 0 #ff008b; }
  .glitch-fof:after {
    text-shadow: -1px 0 #f8dd00; }

.woocommerce a.remove:hover {
  background-color: #00EFCA; }

.woocommerce .star-rating span {
  color: #00EFCA; }

.woocommerce .onsale {
  background-color: #00EFCA; }

.woocommerce .products .product .entry-summary .price ins {
  color: #00EFCA; }

.woocommerce button.button.alt,
.woocommerce input.button.alt {
  border-color: #00EFCA;
  background-color: #00EFCA; }
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    color: white;
    background-color: #00EFCA; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #00EFCA; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #00EFCA; }

.cart-outer .cart-contents .product-count-badge {
  background-color: #00EFCA; }

.cart-outer .mini-cart .buttons .button:hover {
  color: #00EFCA; }

.cart-outer .mini-cart .buttons .checkout {
  background-color: rgba(0, 239, 202, 0.8); }
  .cart-outer .mini-cart .buttons .checkout:hover {
    color: white;
    background-color: #00EFCA; }

.cart-outer:hover .cart-icon-wrap i svg {
  fill: #00EFCA; }

.mini-cart .product-name:hover, .widget_shopping_cart .product-name:hover {
  color: #00EFCA; }

#add_payment_method table.cart td.product-name a:hover,
.woocommerce-cart table.cart td.product-name a:hover,
.woocommerce-checkout table.cart td.product-name a:hover {
  color: #00EFCA; }

.woocommerce .woocommerce-breadcrumb a:hover {
  color: #00EFCA; }

.woocommerce .product .entry-summary .cart button[type="submit"]:hover i svg {
  fill: #00EFCA; }

.woocommerce .product .woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active {
  border-color: #00EFCA; }

.woocommerce span.onsale {
  background-color: #00EFCA; }

.woocommerce .products .product a:hover {
  color: #00EFCA; }

.woocommerce .woocommerce-pagination li .page-numbers.current, .woocommerce .woocommerce-pagination li .page-numbers:focus, .woocommerce .woocommerce-pagination li .page-numbers:active {
  border-color: #00EFCA;
  color: #00EFCA; }

.woocommerce .woocommerce-pagination li .page-numbers.current:hover {
  border-color: #00EFCA; }

.woocommerce .woocommerce-pagination li .page-numbers:hover {
  border-color: rgba(0, 239, 202, 0.3);
  color: #00EFCA; }

.woocommerce #respond input#submit.alt, .woocommerce #respond input#submit.checkout,
.woocommerce a.button.alt,
.woocommerce a.button.checkout,
.woocommerce button.button.alt,
.woocommerce button.button.checkout,
.woocommerce input.button.alt,
.woocommerce input.button.checkout {
  background-color: rgba(0, 239, 202, 0.8); }
  .woocommerce #respond input#submit.alt:hover, .woocommerce #respond input#submit.checkout:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce a.button.checkout:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce button.button.checkout:hover,
  .woocommerce input.button.alt:hover,
  .woocommerce input.button.checkout:hover {
    background-color: #00EFCA; }
  .woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.checkout.disabled, .woocommerce #respond input#submit.checkout.disabled:hover,
  .woocommerce a.button.alt.disabled,
  .woocommerce a.button.alt.disabled:hover,
  .woocommerce a.button.checkout.disabled,
  .woocommerce a.button.checkout.disabled:hover,
  .woocommerce button.button.alt.disabled,
  .woocommerce button.button.alt.disabled:hover,
  .woocommerce button.button.checkout.disabled,
  .woocommerce button.button.checkout.disabled:hover,
  .woocommerce input.button.alt.disabled,
  .woocommerce input.button.alt.disabled:hover,
  .woocommerce input.button.checkout.disabled,
  .woocommerce input.button.checkout.disabled:hover {
    background-color: rgba(0, 239, 202, 0.3); }

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  color: #00EFCA; }

@media (max-width: 768px) {
  .main-nav .phone-menu-trigger:hover .menu-bar, .main-nav .phone-menu-trigger:focus .menu-bar, .main-nav .phone-menu-trigger:active .menu-bar {
    border-color: #00EFCA; } }

/*# sourceMappingURL=colors-02.css.map */
