.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-category, .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-info-section .eltd-post-info-category {
    color: #58bcb3;
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.eltd-blog-holder:not(.eltd-blog-single) article, .eltd-blog-holder.eltd-blog-single {
    box-shadow: 1px 2px 15px #e5e5e5;
    -webkit-box-shadow: 1px 2px 15px #e5e5e5;
}

.eltd-blog-holder:not(.eltd-blog-single) article {
    background-color: #ffffff;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) {
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 28px;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #58bcb3;
    -webkit-animation: eltdFoldAngle 1.6s infinite linear both;
    animation: eltdFoldAngle 1.6s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-2:before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-4:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder:not(.eltd-read-more-preload) .eltd-preload-square.eltd-preload-square-3:before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload, .eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload:before, .eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload:after, .eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder, .eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder:before,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder:before, .eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder:after,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder:after {
    position: absolute;
    content: '';
    height: 6px;
    width: 6px;
    background-color: #58bcb3;
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload {
    position: absolute;
    left: 30px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload:before {
    top: 0;
    left: -8px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-single-post-preload-holder.eltd-read-more-preload:after {
    top: 0;
    left: 8px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder {
    top: 30px;
    left: 30px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder:before,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder:before {
    top: 0;
    left: -8px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-category-preload-holder:after,
.eltd-blog-holder:not(.eltd-blog-single) .eltd-tag-preload-holder:after {
    top: 0;
    left: 8px;
    -webkit-animation-name: eltdSquares;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdSquares;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder:not(.eltd-blog-single) .eltd-blei-temp article .eltd-tag-preload-holder {
    top: 26px;
    left: 52px;
}

.eltd-blog-holder:not(.eltd-blog-single) article.expanded .eltd-category-preload-holder {
    top: 40px;
    left: 55px;
}

.eltd-blog-holder:not(.eltd-blog-single) article.expanded .eltd-tag-preload-holder {
    top: 25px;
    left: 55px;
}

.eltd-blog-holder article {
    margin-bottom: 25px;
}

.eltd-blog-holder article:not(.format-audio) .eltd-post-image {
    margin-bottom: 0;
}

.eltd-blog-holder article .eltd-post-image img {
    vertical-align: middle;
}

.eltd-blog-holder article .eltd-post-content {
    position: relative;
}

.eltd-blog-holder article .eltd-featured-triangle-holder .eltd-featured-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 52px solid transparent;
    border-right: 52px solid #58bcb3;
    text-align: center;
    z-index: 2;
}

.eltd-blog-holder article .eltd-featured-triangle-holder span {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ffffff;
    font-size: 14px;
    z-index: 2;
}

.eltd-blog-holder article .eltd-post-excerpt {
    margin: 0 0 30px;
}

.eltd-blog-holder article .eltd-post-excerpt.eltd-short-excerpt {
    display: none;
}

.eltd-blog-holder article .eltd-post-title {
    margin-bottom: 26px;
}

.eltd-blog-holder article .eltd-post-text {
    padding: 34px 42px 12px 42px;
}

.eltd-blog-holder article .eltd-read-more {
    display: inline-block;
    margin-bottom: 35px;
}

.eltd-blog-holder article.sticky .eltd-post-title a {
    color: #58bcb3;
}

.eltd-blog-holder article .eltd-post-info > div {
    position: relative;
}

.eltd-blog-holder article .eltd-post-info > div:not(.eltd-post-info-category) {
    display: inline-block;
    padding-right: 12px;
    font-size: 11px;
    color: #909090;
    text-transform: uppercase;
}

.eltd-blog-holder article .eltd-post-info > div:not(.eltd-post-info-category):last-child {
    padding-right: 0;
}

.eltd-blog-holder article .eltd-post-info > div:not(.eltd-post-info-category):not(.eltd-blog-share) a {
    color: #909090;
}

.eltd-blog-holder article .eltd-post-info > div:not(.eltd-post-info-category):not(.eltd-blog-share) a:hover {
    color: #58bcb3;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-category {
    margin-bottom: 1px;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-category a {
    display: inline-block;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-category a:not(:last-child):after {
    content: ',';
}

.eltd-blog-holder article .eltd-post-info > div.eltd-blog-like span {
    margin-left: 9px;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-comments-holder {
    display: none;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-comments-holder .eltd-comment-icon {
    margin-right: 5px;
}

.eltd-blog-holder article .eltd-post-info > div.eltd-post-info-date {
    letter-spacing: 0.5px;
    display: none;
}

.eltd-blog-holder article.format-quote .eltd-post-content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eltd-blog-holder article.format-quote .eltd-post-text {
    background-color: rgba(88, 188, 179, 0.9);
}

.eltd-blog-holder article.format-quote .eltd-quote-icon {
    font-size: 27px;
    margin-bottom: 7px;
}

.eltd-blog-holder article.format-quote .eltd-quote-text {
    font-size: 18px;
    line-height: 30px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.eltd-blog-holder article.format-quote .eltd-quote-text-holder {
    padding: 10px 42px 0;
}

.eltd-blog-holder article.format-quote .eltd-post-title,
.eltd-blog-holder article.format-quote .eltd-post-content {
    color: #ffffff;
    text-align: center;
}

.eltd-blog-holder article.format-quote .eltd-post-title {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: normal;
    position: relative;
    margin-left: 6px;
    margin-bottom: 26px;
    display: inline-block;
}

.eltd-blog-holder article.format-quote .eltd-post-title a:hover {
    color: #ffffff;
}

.eltd-blog-holder article.format-quote .eltd-post-title:before {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: 50%;
    width: 3px;
    height: 1px;
    background-color: #ffffff;
}

.eltd-blog-holder article.format-quote .eltd-post-info > div:not(.eltd-post-info-category) {
    color: #ffffff;
}

.eltd-blog-holder article.format-quote .eltd-post-info > div:not(.eltd-post-info-category) a {
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-post-content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.eltd-blog-holder article.format-link .eltd-post-text {
    background-color: rgba(88, 188, 179, 0.9);
}

.eltd-blog-holder article.format-link .eltd-link-icon {
    font-size: 18px;
    margin-bottom: 7px;
}

.eltd-blog-holder article.format-link .eltd-post-info-author-holder {
    margin-bottom: 23px;
}

.eltd-blog-holder article.format-link .eltd-post-info-author {
    text-transform: uppercase;
    font-size: 11px;
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-post-info-author a {
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-post-title,
.eltd-blog-holder article.format-link .eltd-post-content {
    color: #ffffff;
    text-align: center;
}

.eltd-blog-holder article.format-link .eltd-post-title {
    margin-bottom: 15px;
}

.eltd-blog-holder article.format-link .eltd-post-title a:hover {
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-post-info > div:not(.eltd-post-info-category) {
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-post-info > div:not(.eltd-post-info-category) a {
    color: #ffffff;
}

.eltd-blog-holder article.format-link .eltd-link-text-holder {
    padding: 10px 42px 0;
}

.eltd-blog-holder article.format-audio iframe {
    display: block;
    width: 100%;
}

.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-container,
.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls {
    background-color: #58bcb3;
}

.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls .mejs-time-rail .mejs-time-loaded,
.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls .mejs-time-rail .mejs-time-total,
.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: rgba(255, 255, 255, 0.33);
}

.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.eltd-blog-holder article.format-audio .eltd-blog-audio-holder .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #fff;
}

.eltd-blog-holder article.format-gallery .eltd-blog-gallery {
    overflow: hidden;
}

.eltd-blog-holder.eltd-blog-type-masonry {
    margin-bottom: 20px;
    transition: none !important;
    overflow: visible !important;
}

.eltd-blog-holder.eltd-blog-type-masonry article {
    display: block;
    padding: 0;
    text-align: left;
    vertical-align: top;
    z-index: 100;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s ease-out;
    -moz-transition: border-color 0.15s ease-out;
    transition: border-color 0.15s ease-out;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-post-info.eltd-right-section {
    display: none;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-post-info .eltd-post-info-category {
    line-height: 1.5em;
    margin-bottom: 4px;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-post-title {
    margin-bottom: 13px;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-post-excerpt {
    margin-bottom: 22px;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-post-text {
    padding: 23px 30px 12px 30px;
}

.eltd-blog-holder.eltd-blog-type-masonry article .eltd-read-more {
    margin-bottom: 29px;
}

.eltd-blog-holder.eltd-blog-type-masonry #infscr-loading {
    position: absolute;
    bottom: -35px;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-gutter {
    width: 25px;
}

.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-two-cols .eltd-blog-masonry-grid-sizer,
.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-two-cols article {
    width: calc((100% - 25px) / 2);
}

.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-three-cols .eltd-blog-masonry-grid-sizer,
.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-three-cols article {
    width: calc((100% - 50px) / 3);
}

.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-four-cols .eltd-blog-masonry-grid-sizer,
.eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-four-cols article {
    width: calc((100% - 75px) / 4);
}

.eltd-blog-holder.eltd-blog-type-standard article .eltd-post-info-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-standard article .eltd-post-info-wrapper .eltd-post-info {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.eltd-blog-holder.eltd-blog-type-standard article .eltd-post-info-wrapper .eltd-post-info.eltd-left-section {
    text-align: left;
}

.eltd-blog-holder.eltd-blog-type-standard article .eltd-post-info-wrapper .eltd-post-info.eltd-right-section {
    text-align: right;
}

.eltd-blog-holder.eltd-blog-type-standard article.format-quote .eltd-quote-text {
    font-size: 20px;
}

.eltd-blog-holder.eltd-blog-type-standard article.format-quote .eltd-post-info.eltd-left-section {
    text-align: center;
}

.eltd-blog-holder.eltd-blog-type-standard article.format-link .eltd-post-info.eltd-left-section {
    text-align: center;
}

.eltd-blog-holder.eltd-blog-single {
    background-color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info-wrapper .eltd-post-info {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info-wrapper .eltd-post-info.eltd-left-section {
    text-align: left;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info-wrapper .eltd-post-info.eltd-right-section {
    text-align: right;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info:not(.eltd-category) {
    padding: 34px 0 0 0;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info.eltd-post-info-author {
    font-size: 12px;
    float: right;
    text-transform: capitalize;
    color: #58bcb3;
    font-family: "Oswald", sans-serif;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-info.eltd-post-info-author a {
    color: #58bcb3;
}

.eltd-blog-holder.eltd-blog-single article .eltd-post-text {
    padding: 34px 42px 12px 42px;
}

.eltd-blog-holder.eltd-blog-single article .eltd-text-holder p {
    margin: 0;
}

.eltd-blog-holder.eltd-blog-single .eltd-single-links-pages {
    padding: 0 44px;
}

.eltd-blog-holder.eltd-blog-single .eltd-comment-holder,
.eltd-blog-holder.eltd-blog-single .eltd-comment-form {
    padding: 0 44px;
}

.eltd-blog-holder.eltd-blog-single .eltd-comment-form {
    margin: 7px 0 0 0;
}

.eltd-blog-infinite-scroll-button {
    display: none;
}

.eltd-filter-blog-holder {
    text-align: center;
    margin-bottom: 30px;
}

.eltd-filter-blog-holder li {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    font-size: 15px;
}

.eltd-filter-blog-holder li.eltd-active {
    color: #58bcb3;
}

.eltd-single-tags-holder {
    position: relative;
    text-align: left;
    padding: 0 44px;
}

.eltd-single-tags-holder .eltd-tags {
    display: inline-block;
    width: 100%;
    padding: 16px 0 16px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
    box-sizing: border-box;
}

.eltd-single-tags-holder .eltd-tags a {
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
    color: #8c8c8c;
    letter-spacing: 0;
    font-family: "Oswald", sans-serif;
    line-height: 25px;
    margin: 0 0 0 4px;
}

.eltd-single-tags-holder .eltd-tags a span {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.eltd-single-tags-holder .eltd-tags a:first-child {
    margin: 0;
}

.eltd-single-tags-holder .eltd-tags a:hover span {
    color: #58bcb3;
}

.eltd-single-tags-holder .eltd-tags a:not(:last-child):after {
    content: ',';
}

.eltd-blog-single-navigation {
    position: relative;
}

.eltd-blog-single-navigation .eltd-blog-single-prev,
.eltd-blog-single-navigation .eltd-blog-single-next {
    position: absolute;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a,
.eltd-blog-single-navigation .eltd-blog-single-next a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #565656;
}

.eltd-blog-single-navigation .eltd-blog-single-prev {
    left: 0;
}

.eltd-blog-single-navigation .eltd-blog-single-next {
    right: 0;
}

/* #Blog Split Column - start
   ========================================================================== */
.eltd-blog-holder.eltd-blog-type-split-column article {
    margin-bottom: 38px;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-left-section,
.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-right-section {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    text-align: left;
    vertical-align: top;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-left-section {
    width: 43%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-right-section {
    width: 57%;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-text {
    padding: 14px 35px 9px;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-title {
    margin-bottom: 13px;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-excerpt {
    margin-bottom: 16px;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-read-more {
    margin-bottom: 17px;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-quote .eltd-quote-text {
    font-size: 20px;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-quote .eltd-post-text, .eltd-blog-holder.eltd-blog-type-split-column article.format-link .eltd-post-text {
    padding: 0;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-quote .eltd-post-text .eltd-post-text-inner, .eltd-blog-holder.eltd-blog-type-split-column article.format-link .eltd-post-text .eltd-post-text-inner {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-link .eltd-post-text .eltd-post-text-inner {
    top: calc(50% + 5px);
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-standard .eltd-post-image, .eltd-blog-holder.eltd-blog-type-split-column article.format-audio .eltd-post-image {
    display: none;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-audio .eltd-left-section {
    vertical-align: bottom !important;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-post-image,
.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery,
.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery .owl-wrapper-outer,
.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery .owl-wrapper-outer div {
    height: 100% !important;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.eltd-blog-holder.eltd-blog-type-split-column article.format-gallery .eltd-left-section .eltd-blog-gallery-item a img {
    display: none;
}

/* #Blog Split Column - end
========================================================================== */
/* Blog Single navigation - Start
========================================================================== */
.eltd-blog-single-navigation {
    position: relative;
    margin: 0 44px 38px 44px;
    padding: 0 0 38px;
    border-bottom: 1px solid #e8e8e8;
}

.eltd-blog-single-navigation .eltd-blog-single-navigation-inner {
    position: relative;
    display: block;
}

.eltd-blog-single-navigation .eltd-blog-single-prev-holder,
.eltd-blog-single-navigation .eltd-blog-single-next-holder {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    width: 50%;
}

.eltd-blog-single-navigation .eltd-blog-single-prev-holder {
    float: left;
}

.eltd-blog-single-navigation .eltd-blog-single-next-holder {
    float: right;
}

.eltd-blog-single-navigation .eltd-blog-single-prev,
.eltd-blog-single-navigation .eltd-blog-single-next {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    height: 80px;
    width: 123px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.eltd-blog-single-navigation .eltd-blog-single-prev a,
.eltd-blog-single-navigation .eltd-blog-single-prev a img,
.eltd-blog-single-navigation .eltd-blog-single-next a,
.eltd-blog-single-navigation .eltd-blog-single-next a img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.eltd-blog-single-navigation .eltd-blog-single-prev-info,
.eltd-blog-single-navigation .eltd-blog-single-next-info {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.eltd-blog-single-navigation .eltd-blog-single-prev-info {
    padding-left: 30px;
    text-align: left;
}

.eltd-blog-single-navigation .eltd-blog-single-next-info {
    padding-right: 30px;
    text-align: right;
}

.eltd-blog-single-navigation .eltd-blog-navigation-info-holder {
    line-height: normal;
    position: relative;
}

.eltd-blog-single-navigation .eltd-blog-navigation-info-holder span {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.eltd-blog-single-navigation .eltd-blog-navigation-info-holder a.eltd-animating span {
    color: #58bcb3;
}

.eltd-blog-single-navigation .eltd-blog-navigation-info {
    font-size: 12px;
    line-height: 1em;
    color: #000;
    text-transform: uppercase;
}

.eltd-blog-single-navigation .eltd-navigation-icon {
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 1px;
}

.eltd-blog-single-navigation .eltd-navigation-icon.arrow_carrot-right {
    right: -18px;
}

.eltd-blog-single-navigation .eltd-navigation-icon.arrow_carrot-left {
    left: -19px;
}

.eltd-blog-single-navigation a.eltd-blog-single-nav-title {
    display: block;
    font-size: 13px;
    line-height: normal;
    color: #8d8c8c;
    margin-top: 1px;
}

.eltd-single-links-pages {
    margin: 20px 0;
}

.eltd-single-links-pages .eltd-single-links-pages-inner > a,
.eltd-single-links-pages .eltd-single-links-pages-inner > span {
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
}

/* Blog Single navigation - End

/* Author - begin
========================================================================== */
.eltd-author-description {
    padding: 0 44px 35px 44px;
}

.eltd-author-description .eltd-author-description-inner {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.eltd-author-description .eltd-author-description-image {
    display: table-cell;
    width: 80px;
    padding-right: 20px;
    vertical-align: top;
}

.eltd-author-description .eltd-author-description-text-holder {
    display: table-cell;
}

.eltd-author-description .eltd-author-description-text-holder .eltd-author-name-email {
    margin-bottom: 15px;
}

.eltd-author-description .eltd-author-description-text-holder .eltd-author-name-email {
    margin-bottom: 11px;
}

.eltd-author-description .eltd-author-description-text-holder .eltd-author-email {
    font-size: 13px;
}

.eltd-author-description .eltd-author-social-holder {
    margin-top: 13px;
}

.eltd-author-description .eltd-author-social-holder a {
    font-size: 12px;
    display: inline-block;
    color: #a5a5a5;
    margin-right: 18px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.eltd-author-description .eltd-author-social-holder a:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
    color: #58bcb3;
}

/* Author - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.eltd-related-posts-holder {
    margin: 0 44px 39px 44px;
    padding: 0 0 27px;
    border-bottom: 1px solid #e8e8e8;
}

.eltd-related-posts-holder .eltd-related-posts-title {
    padding: 9px 0 15px;
}

.eltd-related-posts-holder .eltd-related-post {
    width: 24.25%;
    margin-right: 1%;
    display: inline-block;
    float: left;
}

.eltd-related-posts-holder .eltd-related-post > a:hover ~ .eltd-related-post-title > a > h6 {
    color: #58bcb3;
}

.eltd-related-posts-holder .eltd-related-post:nth-child(4n) {
    margin-right: 0;
}

.eltd-related-posts-holder .eltd-related-post img {
    display: block;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-image {
    margin-bottom: 16px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-image .eltd-single-post-preload-holder.eltd-related-post-preloader {
    left: calc(50% - 15px) !important;
    top: calc(50% - 15px) !important;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-image .eltd-related-post-preloader {
    display: none;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-title,
.eltd-related-posts-holder .eltd-related-post .eltd-related-post-info {
    margin-bottom: 6px;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-title a {
    display: block;
    margin-bottom: 4px;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-title a h6 {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-title a:hover h6 {
    color: #58bcb3;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-info {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.eltd-column1 .eltd-related-posts-holder .eltd-related-post,
.eltd-column2 .eltd-related-posts-holder .eltd-related-post {
    width: 32.4%;
    margin-right: 1.4%;
}

.eltd-column1 .eltd-related-posts-holder .eltd-related-post:nth-child(3n),
.eltd-column2 .eltd-related-posts-holder .eltd-related-post:nth-child(3n) {
    margin-right: 0;
}

/* Related Posts - end
========================================================================== */
/* Pagination - start
========================================================================== */
.eltd-load-more-ajax-pagination {
    text-align: center;
    position: relative;
}

.eltd-load-more-ajax-pagination .eltd-list-loading {
    position: absolute;
    top: 0 !important;
}

.navigation.pagination {
    display: none;
}

/* Pagination - end
========================================================================== */
/* Search Template - start
========================================================================== */
body.search-results .eltd-blog-holder article .eltd-read-more {
    margin: 20px 0;
}

/* Search Template - end
========================================================================== */
/* ==========================================================================
# Blog Expanding Tiles - begin
========================================================================== */
.eltd-blog-holder.eltd-blog-type-expanding-tiles {
    /* main styles*/
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-grid-sizer {
    width: 25%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-grid-sizer-gutter {
    width: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    width: 100%;
    background-color: black;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item {
    width: 25%;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 4px;
    -webkit-transition: height .3s ease-out, width .3s ease-out;
    transition: height .3s ease-out, width .3s ease-out;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 10;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .eltd-featured-triangle-holder .eltd-featured-triangle {
    right: auto;
    left: 0;
    border-left: 52px solid #58bcb3;
    border-right: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .eltd-featured-triangle-holder span {
    right: auto;
    left: 8px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
    padding: 0 !important;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-75-25 .eltd-column1, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-66-33 .eltd-column1 {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-75-25 .eltd-column2, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-66-33 .eltd-column2 {
    display: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-25-75 .eltd-column1, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-33-66 .eltd-column1 {
    display: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-25-75 .eltd-column2, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-sidebar.eltd-two-columns-33-66 .eltd-column2 {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item:not(.expanded) .eltd-post-info:last-child {
    position: absolute;
    bottom: 10px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1 {
    height: 280px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1 .full-text-container {
    opacity: 0;
    overflow: hidden;
    background: white;
    -webkit-transition: height .3s ease-out 0s;
    transition: height .3s ease-out 0s;
    width: 200%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1 .full-text-container .eltd-container {
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.expanded {
    width: 50%;
    height: 560px;
    -webkit-transition: none;
    transition: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.expanded.eltd-blei-temp {
    width: 25%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.expanded .full-text-container {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.eltd-blei-temp {
    z-index: 5;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.eltd-blei-temp .full-text-container {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.eltd-blei-temp .eltd-related-post {
    width: 49.5%;
    margin-bottom: 5%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1.eltd-blei-temp .eltd-related-post:nth-child(2n) {
    margin-right: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-1 .eltd-blei-slide {
    height: 272px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 {
    height: 560px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 .full-text-container {
    opacity: 0;
    overflow: hidden;
    background: white;
    -webkit-transition: height .3s ease-out 0s;
    transition: height .3s ease-out 0s;
    width: 200%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 .full-text-container .eltd-container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 .eltd-blei-video-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 .eltd-blei-video-holder .eltd-blei-video-holder-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2.format-gallery.expanded, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2.format-video.expanded {
    width: 50%;
    -webkit-transition: none;
    transition: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2.format-gallery.expanded .full-text-container, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2.format-video.expanded .full-text-container {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blei-h-2 .eltd-blei-upper-wrapper {
    height: 552px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-inner .eltd-blei-whole-bgnd {
    width: 100%;
    height: 100%;
    background: transparent center center no-repeat;
    background-size: cover;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper {
    width: 100%;
    height: 272px;
    overflow: hidden;
    position: relative;
    transition: width .3s ease-out, height .3s ease-out;
    background-color: white;
}

@-webkit-keyframes vertical-preload-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -100%;
    }
}

@keyframes vertical-preload-background {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -100%;
    }
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-page-title-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #58bcb3;
    background: url(img/pattern.png);
    background-repeat: repeat !important;
    background-color: transparent !important;
    background-attachment: scroll !important;
    background-size: inherit !important;
    -webkit-animation-name: vertical-preload-background;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: vertical-preload-background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: transparent center center;
    background-size: cover;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);
    -moz-transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);
    transition: left 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);
    left: 75%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .image-container a {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .description-container {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    -webkit-transition: left .25s ease-out;
    transition: left .25s ease-out;
    box-sizing: border-box;
    padding: 22px;
    padding-bottom: 16px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .description-container:before, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .description-container:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    top: 30px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .description-container:before {
    right: 100%;
    border-right: 14px solid white;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .description-container:after {
    left: 100%;
    border-left: 14px solid white;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.even .image-container {
    left: 75%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.even .description-container {
    left: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .image-container {
    left: 25%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .eltd-btn.eltd-btn-solid:after {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transform: translateX(100%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .eltd-btn.eltd-btn-solid:hover:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper.odd .description-container {
    left: 50%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .owl-controls {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .owl-controls .owl-pagination {
    position: relative;
    margin: 0 auto;
    height: 100%;
    line-height: 8px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .owl-controls .owl-pagination .owl-page {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 10px;
    background: #58bcb3;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .owl-controls .owl-pagination .owl-page.active {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-slide {
    height: 552px;
    background: transparent center center;
    background-size: cover;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .slides-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #58bcb3;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button.eltd-preloading ~ .eltd-video-post-preloading {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #58bcb3;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button {
    line-height: 80px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button.eltd-animating {
    -webkit-animation-name: eltdScaleUpDown;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdScaleUpDown;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button:before {
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button.eltd-preloading {
    -webkit-animation-name: eltdBouncing;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdBouncing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button.eltd-preloading:before {
    opacity: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-upper-wrapper .eltd-blei-link .eltd-play-button.eltd-preloading ~ .eltd-video-post-preloading {
    opacity: 0.6;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-animation-name: eltdBouncing;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-name: eltdBouncing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .eltd-blei-upper-wrapper {
    height: 552px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .description-container:before, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.expanded .description-container:after {
    opacity: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item:not(.expanded) .eltd-blei-upper-wrapper.even:hover .image-container {
    left: 70%;
    -webkit-transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item:not(.expanded) .eltd-blei-upper-wrapper.odd:hover .image-container {
    left: 30%;
    -webkit-transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-collapse {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    color: white;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    overflow: hidden;
    cursor: pointer;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-collapse > span {
    font-size: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-collapse:hover > span {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blei-collapse:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    background: #58bcb3;
    width: 144%;
    height: 144%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blog-holder.eltd-blog-single {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-blog-holder.eltd-blog-single article {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-content,
.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-container,
.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item .eltd-container-inner {
    background-color: transparent;
    max-width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .eltd-single-post-preload-holder.eltd-format-gallery {
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    display: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .eltd-bck-featured-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .eltd-bck-featured-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .description-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: 0.3s ease;
    -moz-transform: 0.3s ease;
    transform: 0.3s ease;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .description-container .description-container-outer {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.format-gallery .description-container .description-container-inner {
    position: relative;
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.ajax-page-content .description-container {
    width: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-blog-list-expandable-item.eltd-blog-list-expandable-item.ajax-page-content .description-container .latest-post {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-no-posts-notice {
    position: fixed;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-no-posts-notice h2 {
    margin-bottom: 30px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-post-title {
    margin-bottom: 10px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-post-excerpt {
    margin-bottom: 20px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-read-more {
    margin-bottom: 20px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-content,
.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-text, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-content,
.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-text {
    height: 100%;
    box-sizing: border-box;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-text-inner, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-text-inner {
    position: relative;
    top: calc(50% - 21px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-info-wrapper, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info-wrapper {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-info-wrapper .eltd-post-info, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info-wrapper .eltd-post-info {
    left: 0;
    right: 0;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-info > div.eltd-blog-like a:hover, .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info > div.eltd-blog-like a:hover {
    color: #ffffff !important;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-quote .eltd-post-title a:not(.eltd-external-link) {
    pointer-events: none;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info-author-holder {
    margin-bottom: 0;
    line-height: normal;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-title {
    font-size: 18px;
    line-height: 30px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info-author {
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article.format-link .eltd-post-info-author a {
    color: #ffffff;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-blog-souncloud-holder {
    height: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-blog-souncloud-holder iframe {
    height: 100%;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-blog-audio-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-blei-quote-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-post-list > article .eltd-post-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #58bcb3;
    color: white;
    font-size: 20px;
    opacity: 0.7;
}

/*Blog styles with vertical menu enabled - start
========================================================================== */
body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-expanding-tiles .eltd-content {
    padding-left: 0;
}

/*Blog infinite scroll - start
========================================================================== */
.eltd-list-loading {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    display: none;
}

.eltd-blog-holder.eltd-blog-load-more .eltd-list-loading {
    top: -83px;
}

.eltd-blog-holder.eltd-blog-load-more .eltd-list-loading .eltd-blog-list-preload-holder {
    height: 50px;
    width: 50px;
}

.eltd-list-loading .eltd-blog-list-preload-holder {
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #58bcb3;
    -webkit-animation: eltdFoldAngle 1.6s infinite linear both;
    animation: eltdFoldAngle 1.6s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-2:before {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-4:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.eltd-list-loading .eltd-blog-list-preload-holder .eltd-preload-square.eltd-preload-square-3:before {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.eltd-blog-holder.eltd-blog-load-more + .eltd-load-more-ajax-pagination .eltd-blog-list-preload-holder {
    height: 50px;
    width: 50px;
}

/*Blog infinite scroll - end
========================================================================== */
/* ==========================================================================
# Blog Expanding Tiles - end
========================================================================== */
/* ==========================================================================
# Blog List Shortcode - start
========================================================================== */
/*Blog masonry list - start
========================================================================== */
.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 2px 15px #e5e5e5;
    -moz-box-shadow: 1px 2px 15px #e5e5e5;
    box-shadow: 1px 2px 15px #e5e5e5;
    margin-bottom: 25px;
}

.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-text-holder {
    padding: 23px 30px 12px;
}

.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-text-holder .eltd-excerpt {
    margin: 10px 0;
}

.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-info-section {
    margin-top: 0;
}

.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-info-section > div {
    padding: 0;
    padding-right: 12px;
}

.eltd-blog-list-holder.eltd-masonry .eltd-blog-list-item .eltd-item-info-section > div:before {
    content: '';
}

/*Blog masonry list - end
========================================================================== */
/* ==========================================================================
# Blog List Shortcode - end
========================================================================== */

/*# sourceMappingURL=blog.css.map */