.redux-container-image_select .redux-image-select img:hover{
    border-color: #3b00ff;
}

.redux-container-image_select ul.redux-image-select li{
    margin: 0 10px 3px !important;
    text-align: center;
}
.redux-container-image_select .redux-image-select .tiles, .redux-container-image_select .redux-image-select img,
.redux-container-image_select .redux-image-select-selected .tiles, .redux-container-image_select .redux-image-select-selected img{
    border-width:2px;
    border-radius: 3px;
}
.admin-color-fresh .redux-container-image_select .redux-image-select-selected img,
.wp-customizer .redux-container-image_select .redux-image-select-selected img{
    border-color: #3b00ff;
    border-width:2px;
}
.redux-container-image_select .redux-image-select-selected{
    background-color: transparent;
}
.redux-container #redux-header .display_header{
    float:none;
}
.redux-container-color_gradient .colorGradient{
    display: flex;
    padding: 10px 0;
    align-items: center;
}
.redux-container-color_gradient .colorGradient .color-transparency-check{
    margin: 0 !important;
}
.redux-container-color_gradient .colorGradient strong{
    flex-basis: 50px;
}
.redux-container #redux-header .display_header {
    text-align: left;
    padding-left:25px;
}

.redux-main #redux-sticky #info_bar{
    height:45px;
}

.admin-color-fresh #redux-header, .wp-customizer #redux-header{
    background-image: linear-gradient(-90deg,#2700FF,#A800E6);
}
.redux-container #redux-header .display_header .redux-dev-mode-notice-container{
    top: 102px;
    left: 34px;
}
.redux-container #redux-header{
    border:none;
}
.redux-container #redux-header .btn.pull-right{
    margin-top:25px;
}
.redux-container .expand_options{
    background:url(../img/icon-hide-options.svg) no-repeat;
    border: none;
    font-size: 14px;
    text-indent: 30px;
    text-decoration: none;
    color: #000;
    line-height: 24px;
    text-align: left;
    width: 140px
}
.redux-container .expand_options.expanded{
    background:url(../img/icon-expand-options.svg) no-repeat;
    border: none;
}
.admin-color-fresh #redux-header .display_header span, .wp-customizer #redux-header .display_header span{
    color: rgba(255,255,255,0.5);
    vertical-align: super;
}
.redux-container{
    font-family: Muli,serif;
    font-size: 14px;
}
.redux-container > form{
    background-color: #ffffff;
}
.redux-sidebar{
    background-color: #FFFFFF ;
}
.redux-sidebar .redux-group-menu li a{
    opacity: 1;
    border: none;
    transition:background-color 0.150s linear;
    color: #333;
}
.redux-sidebar .redux-group-menu li a:hover{
    color: #333;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    text-shadow: none;
    background-color: #1D2539;
    color: #FFF;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a{
    background-color: #f7f7f7;
    color: #000;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a{
    text-shadow: none;
    background-color: #f7f7f7;
    color: #000;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover, .wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover{
    color: #FFF;
    background-color: #1D2539;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a{
    background-color: #0c081d;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after, .admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections .active a:after,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after{
    display: none;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.hasSubSections a .extraIconSubsections,
.wp-customizer .redux-sidebar .redux-group-menu li.hasSubSections a .extraIconSubsections{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 6px;
    padding: 10px 6px 1px 9px;
    background-color: white;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.12);
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active a .extraIconSubsections, 
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections, 
.wp-customizer .redux-sidebar .redux-group-menu li.active a .extraIconSubsections, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a .extraIconSubsections{
    display: block;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active a, 
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a, 
.wp-customizer .redux-sidebar .redux-group-menu li.active a, 
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a{
    background-color: #f7f7f7;
}
.redux-sidebar .redux-group-menu li a img{
    width: auto;
    height:auto;
    max-width: 20px;
    max-height: 20px;
}
.redux-container .notice-yellow{
    background-color: #00A7FF;
    color: #FFF;
    text-shadow: none;
    padding:12px 35px 12px 15px;
    font-size: 15px;
}
.redux-container .notice-yellow strong{
    font-weight: 100;
}

#alimo_logo{
    width: 116px;
    height:45px;
    animation : alimo_color_switch 10s ease infinite;
}
.redux-sidebar .redux-group-menu .subsection li a .image_icon_type{
    top: 10px;
    max-width: 12px;
}

@keyframes alimo_color_switch {
    0%{
        fill: #42e788;
    }
    /*25%{
        fill: #ff92a6;
    }*/
    50%{
        fill: #FFFFFF;
    }
    /*75%{
        fill: #ff92a6;
    }*/
    100%{
        fill: #42e788;
    }
}

@media screen and (max-width: 600px){
    .redux-container .redux-main{
        margin-left: 43px;
    }
    .redux-container .expand_options{
        text-indent: -999rem;
        width: 30px;
    }
}

.help-section{
    width: 100%;
    float: left;
    box-sizing: border-box;
}
