.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 36px;
    background: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,0.07);
    border-radius: 50px;
}
#login{
    width: 385px;
}
#login h1 a, .login h1 a{
    padding-bottom: 30px;
    width: auto;
    max-width: 50%;
    background-size: contain;
    background-position: center;
}
#login #wp-submit{
    border: 1px solid #2700FF;
    background-color: transparent;
    padding: 15px 35px;
    border-radius: 50px;
    box-shadow: inset 0 0 1px #2700FF;
    float: right;
    color: #2700FF;
    text-shadow: none;
    line-height:initial;
    height: auto;
    transition: all 0.2s ease-in-out;
}
#login #wp-submit:hover{
    color: #FFF;
    background-color: #2700FF;
}

.login form .input, .login form input[type=checkbox], .login input[type=text]{
    box-shadow: none;
    border: none;
    background-color: #f7f7f7;
    
}
body.login{
    background: url('../img/login-bg.svg') no-repeat;
    background-size: cover;
}
@media screen and (max-width: 400px){
    body.login{
        background: #FFFFFF;
    }
    .login form {
        border-radius: 0;
        box-shadow: none;
    }
}